# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:


services:

    app_bundle.menu_listener:
        class: AppBundle\EventListener\SidebarListener
        tags:
            - { name: kernel.event_listener, event:theme.sidebar_setup_menu, method:onSetupMenu }
            - { name: kernel.event_listener, event:theme.breadcrumb, method:onSetupMenu }