 <a  href="{{ path(key, {'id': obj.id})}}" data-toggle="tooltip" title="{{ 'core.button.show'|trans({},'ApplicationCoreBundle') }}" class="btn btn-sm btn-white">  <i class="fa fa-eye"></i> </a>{# empty Twig template #}
